*{
    margin: 0;
    padding: 0;
}
.pg
{
    background-color: black;
    display: grid;
        grid-template-areas: 
    'nav  slider'
    'nav mfooter'
    'nav  news'
    'nav  hfooter'
    'nav  footer';
    grid-template-columns:70px 1fr;
    grid-template-rows:691px 80px auto 329px 1fr;
    max-width: 2400px;
    width: 100%;
    height: auto;
}
#mfooter
{
    position: relative;
    grid-area: mfooter;
    background-color: #FFFFFF;
}
#nv
{
    position: relative;
    grid-area:nav;
    width: 100%;
    background-color: black;

} 
#slider
{
    position: relative;
    grid-area:slider;
    background-color: #FFFFFF;
            align-items: center;
}
#news
{
    position: relative;
    grid-area: news;
    background-color: #ff0000;
}
#hfooter
{
    position: relative;
    grid-area:hfooter;
    background-color: rgb(255, 255, 255);
}
#footer
{
    position: relative;
    grid-area: footer;
    background-color:rgb(0, 0, 0);
}


.hn
{
display: block;
position: absolute;
width: 70px;
height: 60px;
left: -2px;
top: 70px;
font-family: 'Play';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
color: #FFFFFF;
}

ul 
{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
}

li a
{
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF; 
    padding: 20px 0;
}

#nv li a:hover
{
            text-decoration: underline red;
    cursor: pointer;

}
.logo
{
position:relative;
display: block;
background-color: #FFFFFF;
border: #000000;
width: 70px;
height: auto;
}
.lines
{
    position: relative;
    width: 1fr;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.logohf
{
    width: 70%;
    height:100%;
    margin-left: 5%;
   
}
.logohfd
{
    width: 30%;
    height: 249px;
    display: block;
    float:left;
}
.hftext
{
    display:block;
    width:30%;
    height: 249px;
    float: left;
}

.hftextl
{
font-family: 'Play';
font-style: normal;
font-weight: 400;
font-size: 28px;
}
.hftextd
{
    height: auto;
    position: relative;
    top: 30%;
}
.socials
{
    position: relative;
    float: left;
    width: 40%;
    height: 249px;
}
.icon1
{
    left:20%;
    height: auto;
    position: absolute;
    width: 11%;
    top:30%;
    margin-right: 3%;
}
.icon2
{
    left:40%;
    height: auto;
    position: absolute;
    width: 11%;
    top:30%;
    margin-right: 3%;
}
.icon3
{
    left:60%;
    height: auto;
    position: absolute;
    width: 11%;
    top:30%;
    margin-right: 3%;
}
.icon4
{
    left:80%;
    height: auto;
    position: absolute;
    width: 11%;
    top:30%;
    margin-right: 3%;
}

.slide1
{
    width:100%;
    height: 100%;
    position:relative;
}
.first:hover
{
 cursor: pointer;
 opacity: 0;
}
@font-face
 {
    font-family: 'Play';
    src: url(font/Play-Regular.ttf);
}
#footer:hover .line
{
cursor:pointer;
stroke:red;
}
.aw
{
    position: relative;
    height:691px;
    width:100%;
    background-color: #FFFFFF;
    
}
.awi
{
position: relative;
width:35%;
height: 691px;
float: left;
}
.awi img
{
    position: absolute;
    display: block;
    top:2%;
    left: 2%;
       object-fit: cover;
    border: 4px solid black;
    height: 90%;
    width: 90%;
}
.awt
{
    float: right;
    display: block;
    width: 65%;
    max-height: 691px;
    height: 691px;
    position: relative;
}
.awt1
{
            text-decoration: underline red;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: black;
}
.awt2
{
    margin-bottom: 1%;
    font-family: 'Play';
    font-style: normal;
    font-size: 25px;
    color: black;
}
.awt3
{
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Play';
    font-style: normal;
    font-size: 70px;
    color: black;
    transition: all .3s ease;
}
.awt3:hover
{
            transform: scale(1.2);
    cursor: pointer;
    color: #95ABA0;
}
.linesnw
{
    width: 1fr;
    height: 20px;
    background-color: rgb(255, 255, 255);
}
.nst
{
    position: relative;
    height:640px;
    width:100%;
    background-color:white;
}
.nsti
{
    position: relative;
    width:50%;
    height: 600px;
    float: right;
}
.nsti img
{
    position: absolute;
    display: block;
    top:10%;
    right: 4%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 4px solid black;
    height: auto;
    width: 90%;
}
.nstt
{
    top:5%;
    float: left;
    display: block;
    width: 50%;
    left: 1%;
    height: 640px;
    position: relative;
}
.nstt1
{
            text-decoration: underline red;
    
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: black;
}

.nstt2
{
    margin-bottom: 1%;
    font-family: 'Play';
    font-style: normal;
    font-size: 25px;
    color: black;
}
.nstt3
{
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: black;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}
.nstt3:hover
{
    cursor: pointer;
    color:#ff0000;
            transform: scale(1.2);
}
a
{
    text-decoration:none;
}
.ADmedia
{
    display:none;
}
.footerln
{
    position: relative;
}